.containerOne {
    display: flex;
}
.mainContainer {
    display: flex;
    flex-direction: column;
}
.linkContainer,.linkContainerOne {
    display:flex;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    padding: 32px;
    margin-right: 64px;
}
.linkContainerOne {
    display:flex;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    padding: 32px;
    margin-right: 64px;
}
.pizza {
    border-radius: 10%;
    border: 3px solid blue;
    margin: 0px;
}
.link {
    font-size: 18px;
    color: #E5E7Eb;
    padding: 8px;
    
}
.Container {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
}
.ContainerCopyRight {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}
.columnContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 96px;
    margin-top: 96px;
}
.headerLogo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 32px;
    padding-left: 128px;
    font-weight: bold;
}
.awesome {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.secondary {
    font-size: 18px;
    color: #E5E7EB;
}
.signUpButton {
    background-color: #3882F6;
    width: 100px;
    height: 50px;
    font-weight: bold;
    color: #F9FAF8;
    border: 5px solid #3882F6;
    border-radius: 15px;
    font-size: 20px;
    margin-left : 128px;
    margin-bottom: 0px;
}
.signUpButtonTwo {
    background-color: #3882F6;
    width: 100px;
    height: 50px;
    font-weight: bold;
    border: 5px solid #F9FAF8;
    color: #F9FAF8;
    border-radius: 15px;
    font-size: 20px;
    margin: auto;
}
.signupContainer {
    display: flex;
    background-color: #3882F6;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 75px;
    margin-bottom: 75px;
    border-radius: 15px;
    border: 5px solid #3882F6;
    
}
.signTextOne {
    margin-left: 32px;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 0px;
    color: white;
}
.signTextTwo {
    margin-left: 32px;
    font-size: 16px;
    color: white;
}
.awesome , .secondary {
    margin-left : 128px;
    margin-top: 0px;
    margin-bottom: 16px;
}
.whale {
    margin: 32px;
    margin-right: 128px;
}
.copyRight {
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.randomContainer {
    display: flex;
    flex-direction: column;
}
.randomP {
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    color: #1F2937;
}
.linkOne {
    text-align: center;
    font-size: 18px;
    color: #929292;
}
.quoteContainer {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}
.quote {
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    font-family: italic;
    font-weight: 100;
    color: #1F2937;
}
.author {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0px;
}
* {
    font-family: Tahoma;
}
body {
    margin: 0px;
}