.containerOne {
    display: flex;
}
.mainContainer {
    display: flex;
    flex-direction: column;
}
.linkContainer {
    display:flex;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    background-color: #1F2937;
    padding: 32px;
    margin-right: 64px;
}
.link {
    font-size: 18px;
    color: #E5E7Eb;
    padding: 8px;
}
.Container {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
}
.columnContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 96px;
    margin-top: 96px;
}
.headerLogo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 32px;
    padding-left: 128px;
    font-weight: bold;
}
.awesome {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.secondary {
    font-size: 18px;
    color: #E5E7EB;
}
.signUpButton {
    background-color: #3882F6;
    width: 100px;
    height: 50px;
    font-weight: bold;
    color: #F9FAF8;
    border-radius: 10%;
    font-size: 20px;
}
.awesome , .secondary, .signUpButton {
    margin-left : 128px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.whale {
    margin: 32px;
    margin-right: 128px;
}
* {
    font-family: Tahoma;
}